@font-face {
  font-family: "BureauGrotesque";
  src: url("assets/fonts/BureauGrotesque/BureauGrotesque.eot");
  src: url("assets/fonts/BureauGrotesque/BureauGrotesque.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/BureauGrotesque/BureauGrotesque.woff2") format("woff2"),
  url("assets/fonts/BureauGrotesque/BureauGrotesque.woff") format("woff"),
  url("assets/fonts/BureauGrotesque/BureauGrotesque.ttf") format("truetype"),
  url("assets/fonts/BureauGrotesque/BureauGrotesque.svg#BureauGrotesque") format("svg");
}

@import url('assets/fonts/inter/inter.css');

html, body, button {
  font-family: 'Inter', sans-serif;
}


body{
  color: #fff;
  background-color: #000000;
  margin: 0;
  letter-spacing: 0.03rem;
  font-weight: 100;
}

#container {

}

.module {
  padding: 15vh 5vw;
}


#landing{
  width: 100%;
  height: 100vh;
  max-height: 730px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 8vh 6vw;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-image: url('assets/landing2.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

#landing-inner{
  flex-grow: 1;
}

#landing h1{
  z-index: 2;
  margin: auto;
}

#sub-hero{
  width: 100%;
  font-weight: 400;
}



#about-hero {
  font-weight: 200;
  font-size: 1.2rem;
}



#landing #hero-video {
    height: 100%;
    width: 177.77777778vw; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 100vw; /* 100 * 9 / 16 */
    position: absolute;
    /* left: 50%; */ /* % of surrounding element */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */ /* % of current element */
    z-index: 1;
    opacity: 0.5;
}

#landing .submit {
  background: #fff;
  display: inline-block;
  max-width: 220px;
  margin: 2rem auto 0 auto;
}



h1, h2, h3, h4 {
  margin-top: 0px;
  line-height: 0.95;
  text-align: center;
  font-family: "BureauGrotesque";
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -0.05rem;
}


h1{
  /* flex-grow: 1; */
  width: 74%;
  text-align: center;
  box-sizing: border-box;
  font-size: 8vw;
  letter-spacing: -0.2rem;
  padding-bottom: 0.3rem;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 1.8em;
  letter-spacing: 0rem;
}

h4 {
  font-size: 1.1em;
  letter-spacing: 0.05rem;
}

h2.options-hero {
    width: 100%;
    color: #000;
    text-align: center;
}

h2 span {
  margin-top: 0px;
  max-width: 590px;
  margin: 0 auto 3rem auto;
  display: block;
}


a, a:visited, a:hover, a:link {
  color: #fff;
}

p {
  margin: 0 0 1.5rem;
  line-height: 1.5;
}

.grey {
  color: #676767;
}

#producership-options {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#producership-options .option {
  color: #000;
  flex-grow: 1;
  width: 33%;
  text-align: center;
  padding: 70px;
  box-sizing: border-box;
  max-width: 450px;
}


#producership-options .option-middle {
  border: 1px #eaeaea solid;
  border-top: none;
  border-bottom: none;
}

.amount {
  padding: 0.5rem;
  font-size: 90%;
  font-weight: 400;
}
.amount-currancy {
  color: #676767;
  font-size: 80%;
}

.submit {
  width: 100%;
  min-height: 40px;
  border-radius: 4px;
  border-style: none;
  background-color: #000;
  margin-top: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.03rem;
}


.benefits{
  font-weight: 300;
  font-size: 12px;
}



.option .option-description {
  display: table;
  height: 100px;
  width: 100%;
  text-align: center;
  min-height: 100px;
}
.option .option-description span {
  display: table-cell;
  vertical-align: middle;
}



.donations{
  border-top: 1px #eaeaea solid;
  margin: 8rem 0 0;
  color: #000;
  width: 100%;
  padding: 8rem 0 0rem 0;
  text-align: center;
  max-width: 1030px;
}

.donations h3 {
    font-size: 125%;
    letter-spacing: 0.03rem;
    padding-bottom: 2rem;
}

.donations h2 {
  margin: 0;
}
.amount {
  padding-top: 0.5rem;
  font-size: 14px;
}

.producer-name{
  margin: 1rem 2rem;
  display: inline-block;
}





#back-to-scenes{
  background:#fff;
  width: 30%;
  display: block;
  margin: 7rem auto 0 auto;
}

#producers  img{
  width: 100%;
  max-width: 250px;
}


.producer-submit {
  background: #f35e13;
}




.popup-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 90%);
  text-align: center;
  z-index: 100;
}

.popup-overlay:after {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
  content: "";
}

.popup {
  display: inline-block;
  position: relative;
  width: 78vw;
  height: 36.5vw;
  vertical-align: middle;
  background: red;
}


#popupVid{
  max-width: 80vw;
}


.popup-close {
  display: block;
  position: absolute;
  top: -9px;
  right: -59px;
  width: 12px;
  height: 12px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
}

.popup-close.full {
    width: 100vw;
    height: 100vh;
    background: #00000014;
    z-index: -1;
}


iframe {
  width: 100%;
  height: 100%;
}




#about {
  background: #fff;
  color: #000;
}

#about-data {
    max-width: 600px;
    padding: 0 2rem;
    margin: auto;
    line-height: 1.5rem;
}



#references{
  padding: 3rem 2rem 0 2rem;
  max-width: 500px;
  margin: auto;
}


#references img{
  clear: both;
  display: block;
  margin-bottom: 0.5rem;
}

#references p {
  font-size: 12px;
  color: #333;
}


img#Cosmic-View-Cover{
  width: 60%;
  margin-left: auto;
  margin-bottom: 4rem;
}
img#Cosmic-View-Grid{
  width: 60%;
}
img#Powers-Ten-Grid{
  width: 80%;
  margin-left: auto;
  margin-top: 8rem;
}
img#Zika-Virus{
  width: 72%;
  margin-top: 9rem;
}















div#scenes-nav {
    text-align: center;
    margin: 3rem auto;
}

a.edits{
  display: block;
  margin: 2rem 0;
  text-decoration: none;
  color: #777;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.scenes-hero{
  text-align: center;
  width: 100%;
}


.image-holder {
  width: 100%;
  height: 12vw;
  overflow: hidden;
  background: #fff;
}

.image-holder img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.96;
}

h4.scene-select {
    display: inline-block;
    margin: 0.5rem;
    padding: 1rem;
    background: #fff;
    cursor: pointer;
    color: #000;:;
}

.scene-select.inactive{
  background: #1f1f1f;
  color: #fff;
}



table {
  table-layout:fixed;
  margin: 0 auto;
  border: none;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table thead th,
table tfoot th {
  color: #fff;
  background: black;
  text-align: left;
  box-sizing: border-box;
  border-top: none;
  vertical-align: bottom;
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #212121;
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: 2em 2em 2em 0;
  border-top: 1px solid #232323;
  box-sizing: border-box;
  line-height: 1.5;
  overflow: hidden;
}
tr {
    vertical-align: top;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 2;
}

.table-col-section {width: 10%}
.table-col-vo, .table-board, .table-col-visual {width: 30%;}
.table-col-visual {padding-right: 0px;}



.table-col-board { filter: grayscale(1);}






td.team-position {text-align: right; font-size: 14px;}
td.team-person {font-size: 18px;}
td.team-position, td.team-person {border: none; padding: 5px 15px; line-height: 1.5em; vertical-align: baseline;}



#scenes-data h4 {
  text-align: left;
  margin: 1px;
}


#scenes-data th h4 {
  color: #666;
}




#scenes-diagrams{
  position: relative;
  width: 20vw;
  height: 20vw;
  margin: auto;
  transform: perspective(600px);
  transform-style: preserve-3d;
  z-index: -10000;
}

#scenes-diagrams-container {
    transform: translateZ(0px) perspective(6000px);
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}


.scenes-diagram{
  position: absolute;
  width: 100%;
  opacity: 0.0;
  transition: all 0.5s ease;
}



#scenes-diagram-1 {transform: translateZ(-000px);}
#scenes-diagram-2 {transform: translateZ(-100px);}
#scenes-diagram-3 {transform: translateZ(-200px);}
#scenes-diagram-4 {transform: translateZ(-300px);}
#scenes-diagram-5 {transform: translateZ(-400px);}
#scenes-diagram-6 {transform: translateZ(-500px) translateY(1px);}
#scenes-diagram-7 {transform: translateZ(-600px) translateY(5px);}
#scenes-diagram-8 {transform: translateZ(-700px) translateY(10px);}
#scenes-diagram-9 {transform: translateZ(-800px) translateY(15px);}




.diagram-scene-select-1 #scenes-diagram-1 { opacity:1; }
.diagram-scene-select-1 #scenes-diagrams-container {transform: translateZ(000px)  perspective(6000px);}

.diagram-scene-select-2 #scenes-diagram-2 { opacity:1; }
.diagram-scene-select-2 #scenes-diagrams-container {transform: translateZ(100px)  perspective(6000px);}

.diagram-scene-select-3 #scenes-diagram-3 { opacity:1; }
.diagram-scene-select-3 #scenes-diagrams-container {transform: translateZ(200px)  perspective(6000px);}

.diagram-scene-select-4 #scenes-diagram-4 { opacity:1; }
.diagram-scene-select-4 #scenes-diagrams-container {transform: translateZ(300px)  perspective(6000px);}

.diagram-scene-select-5 #scenes-diagram-5 { opacity:1; }
.diagram-scene-select-5 #scenes-diagrams-container {transform: translateZ(400px)  perspective(6000px);}

.diagram-scene-select-6 #scenes-diagram-6 { opacity:1; }
.diagram-scene-select-6 #scenes-diagrams-container {transform: translateZ(500px)  perspective(6000px);}

.diagram-scene-select-7 #scenes-diagram-7 { opacity:1; }
.diagram-scene-select-7 #scenes-diagrams-container {transform: translateZ(600px)  perspective(6000px);}

.diagram-scene-select-8 #scenes-diagram-8 { opacity:1; }
.diagram-scene-select-8 #scenes-diagrams-container {transform: translateZ(700px)  perspective(6000px);}

.diagram-scene-select-9 #scenes-diagram-9 { opacity:1; }
.diagram-scene-select-9 #scenes-diagrams-container {transform: translateZ(800px)  perspective(6000px);}



#footer{
  border-top: #181818 solid 1px;
  text-align: center;
  padding: 4rem;
}


#footer span {
  color: #7b7b7b;
  margin-top: 1rem;
  display: block;
}






/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 880px) {


  #landing h1 {
    font-size: 96px;
    width: 100%;
    display: block;
    letter-spacing: -0.15rem;
    padding: 1rem;
  }

  #landing .submit {
    margin: 1.5rem auto 0 auto;
    display: inline-block;
    width: 40%;
  }

  #producership-options .option-middle {
      border-top:  1px #eaeaea solid;
      border-bottom:  1px #eaeaea solid;
      border-left: none;
      border-right: none;
  }
  #producership-options .option {
      width: 100%;
      max-width: 450px;
  }

  #producers  img{
    width: 60%
  }

  .scene h4{
    font-size: 22px;
    letter-spacing: 0;
    padding-right: 1rem;
  }





  table th{
    display: none
  }

  table .row-content td {
      border-top: none;
  }

  table th, table td {
    padding: .5em 0;
  }

  .table-col-section {
    width: 100%;
  }

  tbody .table-col-vo, tbody .table-col-visual{
    font-size: 12px;
    line-height: 1.2;
  }
  .table-col-vo{
    padding-left: 3px;
  }

  #scenes-diagrams{
    width: 70vw;
    height: 70vw;
  }

  .scene-select{
    box-sizing: border-box;
    font-size: 15px;
    padding: 1rem;
  }

  h4.scene-select {
    margin: 0.2rem;
    padding: 0.5rem;
  }

  .row-content{
    display:  block;
    width: 80%;
    margin: auto;
  }

  table .row-content td.table-col-section{
    border-top: 1px solid #232323;
    padding-top: 2rem;
    margin-top: 3rem;
  }

  .row-content td {
    display: inline-block;
    width: 100%;
  }


  .image-holder {
    width: 100%;
    height: 30vw;
    overflow: hidden;
    background: #fff;
    border: 1px black solid;
    box-sizing: border-box;
  }

  #scenes-data h4, .row-content td {
    text-align: center;
    padding-right: 0rem;
    color: #ccc;
  }

  td.empty{
    display: none
  }

}


@media only screen and (max-width : 780px) {
  #landing .submit {
    display: inline-block;
    width: 100%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  h1{
    font-size: 100px;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {

  .donations{
    max-width: 1330px;
  }

}





King Corn irrefutably proves the damaging effects of subsidized agriculture. Great recommenation by @saif https://www.youtube.com/watch?v=TWv29KRsQXU







.btcpay-form { display: inline-flex; align-items: center; justify-content: center; }
.btcpay-form--inline { flex-direction: row; } .btcpay-form--block { flex-direction: column; }
.btcpay-form .btcpay-custom-container{ text-align: center; }.btcpay-custom { display: flex; align-items: center; justify-content: center; }
.btcpay-form .plus-minus { cursor:pointer; font-size:25px; line-height: 25px; background: #DFE0E1; height: 30px; width: 45px; border:none; border-radius: 60px; margin: auto 5px; display: inline-flex; justify-content: center; }
.btcpay-form select { -moz-appearance: none; -webkit-appearance: none; appearance: none; color: currentColor; background: transparent; border:1px solid transparent; display: block; padding: 1px; margin-left: auto; margin-right: auto; font-size: 11px; cursor: pointer; }
.btcpay-form select:hover { border-color: #ccc; }


.btcpay-input {width:209px;-moz-appearance: none;-webkit-appearance: none;border: none;box-shadow: none;text-align: center;font-size: 25px;margin: 0.2rem auto;border-radius: 5px;line-height: 35px;background: #fff;border: 1px #e8e8e8 solid;}
#btcpay-input-price {text-align: center; }
.btcpay-input-range {width:209px;margin-bottom:15px;}


input[type=range].btcpay-input-range { -webkit-appearance:none; width:100%; background: transparent; }
input[type=range].btcpay-input-range:focus { outline:0; }
input[type=range].btcpay-input-range::-webkit-slider-runnable-track { width:100%; height:3.1px; cursor:pointer; box-shadow:0 0 1.7px #020,0 0 0 #003c00; background:#f3f3f3; border-radius:1px; border:0; }
input[type=range].btcpay-input-range::-webkit-slider-thumb { box-shadow:none; border:2.5px solid #cedc21; height:22px; width:22px; border-radius:50%; background:#0f3723; cursor:pointer; -webkit-appearance:none; margin-top:-9.45px }
input[type=range].btcpay-input-range:focus::-webkit-slider-runnable-track { background:#fff; }
input[type=range].btcpay-input-range::-moz-range-track { width:100%; height:3.1px; cursor:pointer; box-shadow:0 0 1.7px #020,0 0 0 #003c00; background:#f3f3f3; border-radius:1px; border:0; }
input[type=range].btcpay-input-range::-moz-range-thumb { box-shadow:none; border:2.5px solid #cedc21; height:22px; width:22px; border-radius:50%; background:#0f3723; cursor:pointer; }
input[type=range].btcpay-input-range::-ms-track { width:100%; height:3.1px; cursor:pointer; background:0 0; border-color:transparent; color:transparent; }
input[type=range].btcpay-input-range::-ms-fill-lower { background:#e6e6e6; border:0; border-radius:2px; box-shadow:0 0 1.7px #020,0 0 0 #003c00; }
input[type=range].btcpay-input-range::-ms-fill-upper { background:#f3f3f3; border:0; border-radius:2px; box-shadow:0 0 1.7px #020,0 0 0 #003c00; }
input[type=range].btcpay-input-range::-ms-thumb { box-shadow:none; border:2.5px solid #cedc21; height:22px; width:22px; border-radius:50%; background:#0f3723; cursor:pointer; height:3.1px; }
input[type=range].btcpay-input-range:focus::-ms-fill-lower { background:#f3f3f3; } input[type=range].btcpay-input-range:focus::-ms-fill-upper { background:#fff; }
