html, body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #888;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
  font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  font-weight: 300;
  color: #444;
}
h3 {
  color: #666;
  font-size: 20px;
  margin: 20px 0 0 0;
}

header {
  background: #111;
  color: #999;
  padding: 70px 0 40px 0;
  margin-bottom: 30px;
}
header h1 {
  color: #ffaa32;
  font-size: 27px;
}
header .lead {
  font-size: 37px;
  line-height: 1.1em;
  margin: 5px 0 20px 0;
  color: #fff;
}
header .btn {
  margin-top: 20px;
}
header i.icon-download {
  margin-right: 5px;
}
header .sublink {
  color: #666;
}
header .sublink a {
  display: inline-block;
  color: #ccc;
}
header .sublink a:hover {
  color: #fff;
}

.viewport {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: center;
  overflow: hidden;
  z-index: 1;
  background: #111;
}
.viewport-container {
  /* float: right; */
  /* margin-top: -415px; */
  /* margin-bottom: 30px; */
  border: 1px solid #444;
  /* padding: 2px; */
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.01);
  z-index: 1;
}
.zoom {
  margin: -55px 0;
  vertical-align: center;
  display: block;
  z-index: 2;
  position: absolute;
  font-size: 37px;
  line-height: 1em;
  font-family: sans-serif;
}
.zoom a {
  color: #111;
  margin: 0;
  background: rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  -webkit-transition: background 0.3s ease-out;
  text-decoration: none;
}
.zoom a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: background 0.3s ease-out;
}
.zoom a.disabled, .zoom a.disabled:hover {
  opacity: 0.3;
  background: rgba(255, 255, 255, 0.4);
}

a.zoomin {
  margin: 0 5px;
}

.feature {
  margin: 40px 0;
}

.example {
  margin-top: -10px;
  width: 518px;
  float: right;
}

.depends {
  width: 468px;
  margin-right: 50px;
  float: right;
}
.depends li {
  margin: 0 0 10px 0;
}


footer {
  padding: 20px;
  font-size: 12px;
  text-align: right;
  color: #fff;
  position: fixed;
  z-index: 1000000;
  bottom: 0;
  width: 400px;
  box-sizing: border-box;
  right: 0;
}
footer hr {
  margin-bottom: 10px;
}
footer a, footer a:visited, footer a:link, footer a:active {
  color: #fff;
}
footer a:hover {
  color: #777;
}

.clear {
  clear: both;
}
